@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&family=Rubik+Mono+One&display=swap');

nav {
    font-family: 'Rubik Mono One', monospace;
    background: linear-gradient(45deg, #357d78 50%, #7db4d2);
}

body {
    font-family: 'Roboto', sans-serif;
}