{% extends 'base.html.twig' %}

{% block title %}Gestion de la facturation{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Gestion de la facturation!</h1>

</div>
{% endblock %}
