{% extends 'base.html.twig' %}

{% block title %}Lots pour associations{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="container">
        <h2>Tableau Simple en Bootstrap</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">N°Lot</th>
                    <th scope="col">Associations</th>
                </tr>
            </thead>
            <tbody>
                {% for lot in lots %}
                <tr>
                    <th scope="row">{{ lot.id|default('undefined') }}</th>
                    <td>{{lot.nomAssociation|default('undefined')}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}